<div class="container">
  <div class="row">
    <div class="col-xl-9">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td>
             <% if @book.user == current_user %>
               <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
               <%= link_to "destroy", book_path(@book), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
             <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



